 <link rel="stylesheet" href="stylesheets/style4.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/apple-icon.png">
  <link rel="icon" type="image/png" href="../public/images/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.3.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />



  <nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
     
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://localhost:3000/adminhome" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom" target="_blank">
       Finance Admin
        </a>
      </div>
      <div class="collapse navbar-collapse justify-content-end " id="navigation" data-nav-image="../public/images/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/incomestat">Income Satements</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end " id="navigation" data-nav-image="../public/images/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/income">Income</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end " id="navigation" data-nav-image="../public/images/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/expeneses">Expenses</a>
          </li>
        </ul>
      </div>
     
      </div>
    </div>
  </nav>




<div class = "container " align="center">
     
    <div class = "row">
    <div class="btm">
        <a href="#" class="btn btn-dark btn-lg text-primary" tabindex="-1" role="button" aria-disabled="true" >Save Pdf <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
</svg></a>
</div>
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 100px;">
             <h2> Update Income</h2>
             {{#each income}}
            <form class="form-horizontal" align="left" method="post" action="../updateInc/{{this.id}}">
                <div class="form-group" >
                    <label for="inputEmail3" class="col-md-2 control-label">Year</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Year" name="year" value ="{{this.year}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-2 control-label">Month</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Month" name="month" value ="{{this.month}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-2 control-label">Sales income</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Sales Income" name="sales" value ="{{this.sales}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-md-2 control-label">Spare parts income</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="spare parts income" name="spareparts" value ="{{this.spareparts}}">
                    </div>
                </div>

                <div class="form-group" >
                    <label for="inputPassword3" class="col-md-2 control-label">Ads Income</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="Ads Income" name="ads" value ="{{this.ads}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-dark text-primary" id="addexpenses">Submit Income</button>
                    </div>
                </div>  
            </form>
            {{/each}}
        </div>

        