<div class="container">
 <style>
body {
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 500px;
	margin: 0 auto;
	padding: 40px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 18%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #221f1f;
	border-radius: 5px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  
div.a {
  border: 1px solid red;
  outline: 2px dashed blue;
}
</style>


  <div class="signup-form">
    
    <div class="form-group">
    <div class="row">

        <center><h2>Update Seller Profile</h2></center>

       <div class="col-md-2"></div>

       <div class="col-md-10">

           {{#each res}}

           <form class="form-horizontal" method="post" action="/updateseller/{{this.Id}}">

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">Seller Name</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" placeholder="name" name="s_name" value="{{this.username}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">Email</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" placeholder="address" name="email" value="{{this.email}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">NIC</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" placeholder="phone number" name="nic" value="{{this.NIC}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">Contactno</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" placeholder="nic" name="contact" value="{{this.contactno}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">Gender</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" placeholder="email" name="gender" value="{{this.gender}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">position</label>
                   <div class="col-sm-10">
                       <input type="text" class="form-control" id="inputEmail3" readonly placeholder="username" name="position" value="{{this.position}}">
                   </div>
               </div>

               <div class="form-group">
                   <label for="inputEmail3" class="col-sm-6 control-label">Password</label>
                   <div class="col-sm-10">
                       <input type="password" class="form-control" id="inputEmail3" placeholder="password" name="password" readonly value="{{this.password}}">
                   </div>
               </div>

              

               <div class="form-group">
                   <div class="col-sm-offset-2 col-sm-10">
                       <button type="submit" class="btn btn-success" id="register">Save Changes</button>
                   </div>
               </div>



           </form>

           {{/each}}




       </div>

       <div class="col-md-2"></div>

    </div>
    </div>
    
  </div>



</div>