
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style3.css">
    <title>{{ title }}</title>

   


  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="http://localhost:3000/view">Shashika Importors</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Vehicles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Spare Parts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/">Add Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/table">Employee Table</a>
      </li>
   
      
       <li class="nav-item">
        <a class="nav-link" href=" http://localhost:3000/salary">Add Salary </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/salarytable">Salary Table</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/login1">Login</a>
      </li>

     

      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   

   <center><h2>Add Salaries</h2></center>
<br>
<br>
<br>

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            {{#each saldata}}

            <form class="form-horizontal" method="POST" action="../updatesalary/{{this.id}}">

                <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Employee Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Employee Name" name="name" value="{{this.Employee_Name}}">
                    </div>
                </div>

                   <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Month</label>
                    <div class="col-sm-10">
                          <select id="inputname" name="month" class="form-control" >

                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="Octomber">Octomber</option>
                            <option value="November">November</option>
                            <option value="December">December</option>

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Basic Salary</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Basic Salary" name="basicsalary" value="{{this.Basic_Salary}}">
                    </div>
                </div>

                 <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Account No</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Account No" name="accountno" value="{{this.Account_No}}" >
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Bank Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Bank Name" name="bankname" value="{{this.Bank_Name}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputname" class="col-sm-4 control-label">Working Days</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Working Days" name="workingdays" value="{{this.Working_Days}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputname" class="col-sm-2 control-label">Post</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputname" placeholder="Post" name="post" value="{{this.Post}}" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputname" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="inputname" placeholder="Date" name="date" value="{{this.Date}}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" id="addemployee">Add Salary</button>
                    </div>
                </div>

            </form>
            {{/each}}

         </div>

        <div class="col-md-2"></div>

    </div>

</div>






