

<link href="vehicle_styl/css/bootstrap.min.css" rel="stylesheet">
    <link href="vehicle_styl/css/font-awesome.min.css" rel="stylesheet">
    <link href="vehicle_styl/css/prettyPhoto.css" rel="stylesheet">
    <link href="vehicle_styl/css/price-range.css" rel="stylesheet">
    <link href="vehicle_styl/css/animate.css" rel="stylesheet">
	<link href="vehicle_styl/css/main.css" rel="stylesheet">
	<link href="vehicle_styl/css/responsive.css" rel="stylesheet">


<body style="background-color:#f5f4f4;">

 


		
		<div class="header-middle" ><!--header-middle-->
			<div class="container" >
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a  href=""><img style=" margin-bottom: -40px; margin-left: 70px;  width: 160px; height: 100px;" src="https://lh4.googleusercontent.com/vVdKHO0ddg1HfGSmjJMfM94XnYWJWhxOYjEa1XHFrzZ1OBGHSi92rGH4TMPKXuyWbsH2GS9Es7XmgeWj2L6ugejQIM4Np5SAJbxVTZWMGZRiUbDo1fZvJxmY2PQsd_t30EFdJgn8" alt="" /></a>
						</div>
		
					</div>

				</div>
			</div>
		</div><!--/header-middle-->
	







		<div class="header-bottom"><!--header-bottom-->





			<div class="container" style="margin-bottom: 50px;">






				<div class="row">
					<div class="col-sm-9" style="margin-bottom: 50px;" >
						


			<div class="mainmenu pull-right" style="margin-bottom:">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search-center" style="margin-right:;" action="feed/search" method="GET">
            <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small"  placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" style="width: 900px; height: 50px; " spellcheck="false" name="titlesearch" autocomplete="off">
            <button class="btn btn-primary" style="margin-right:-300px; margin-top: 0px; width: 120px; height: 50px;"  type="button"  value='Search' id='submit'>SEARCH</button>
              </div>
            </div>
          </form>
							<ul class="nav navbar-nav collapse navbar-collapse" style="font-size: large; margin-left: 200px; color:black;">


								<li><a href="" class="active"><i class="fa fa-home"></i>Home</a></li>
								<li class=""><a href="#">Spare parts</a></li>
								<li class=""><a href="#">Request</i></a></li>
								<li><a href="">About</a></li>
								<li><a href="">Contact</a></li>
							</ul>
			</div>
           
					</div>
					
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->











					
					</div>
				</div>
				<center>
                    <br><br><br><br>


<div class="center-tag"  >








				<div class="col-sm-9 margin-right" style="margin-left: 200px;">
		
	</section>

</div>







<div class="center-adds" style="float: left;">




<table class="table table-hoves" id="table" style=" width: 1000px; margin-left: 10px; background-color: white;" >
        <tbody>







          {{#each res}}
            <tr>
   
                <td> <a style="float:left" href="/get_vehicle/{{this.ID}}"> <img style="height: 180px; width:250px;" src="http://localhost:3000/selVehiclesimages/{{this.Image}}" alt=""></a>
    <div class="gol"style="margin-left:300px">
    <a href="/get_vehicle/{{this.ID}}"><h2 style="font-size: 25px;">{{this.Brand}}</h2></a></br> <br>  <div class="pize" style="color:red; font-size:20px"> <p class="card-text">Brand:{{this.Model}}</p>
    <p class="card-text">ModelYear:{{this.ModelYear}}</p>
    <p class="card-text">Engine Capacity:{{this.EngineCapacity}}</p>
    <p class="card-text">Availability:{{this.Availability}}</p> 
    <p class="card-text">Price:Rs.{{this.Price}}.00</p>
    <p class="card-text">Description:  {{this.Description}}</p>

                </div>
         </div></td>
            
            </tr>
            
            {{/each}}



         </tbody>


        </table>



                </div>
            </div><!-- Trend Section End -->

</div>

			
<br><br><br><br><br><br>
</section>


    </div>
</body>



<!-- Discount Section Begin -->
<section class="discount" style="width: 100%; margin-top: 1700px; ">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img style="width: 500px;" src="/images/asd.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Ride Your Future</span>
                        <h2>SHASHIKA IMPORTERS</h2>
                        <h5><span>CarSale</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Registration</h6>
                    <p>For all vehicles</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If not good have Problems with item</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Service Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Footer Section Begin -->
<footer class="footer" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <p>Sell your spare parts in no time at all with our practical catalogue system. All information about spare parts is presented intuitively and visually. Your customer identifies the part he needs, places it in the shopping basket with one click and orders it directly. </p>
                    <div class="footer__payment">
                        <a href="#"><img src="asse/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved <i aria-hidden="true"></i></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->





















<script src="vehicle_styl/js/search.js"></script>
	

  
    <script src="vehicle_styl/js/jquery.js"></script>
	<script src="vehicle_styl/js/bootstrap.min.js"></script>
	<script src="vehicle_styl/js/jquery.scrollUp.min.js"></script>
	<script src="vehicle_styl/js/price-range.js"></script>
    <script src="vehicle_styl/js/jquery.prettyPhoto.js"></script>
    <script src="vehicle_styl/js/main.js"></script>
</body>
</html>