

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style3.css">
    <title>{{ title }}</title>

   


  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="http://localhost:3000/view">Shashika Importors</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Vehicles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Spare Parts</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/emp_login">Add Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/table">Employee Table</a>
      </li>
    

      
       <li class="nav-item">
        <a class="nav-link" href=" http://localhost:3000/salary">Add Salary </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/salarytable">Salary Table</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/login1">Login</a>
      </li>

     

      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    
    <div class="row">

    <div class="col-md-0"></div>
    <div class="col-md-8">

        <center><h2>Employee Table</h2></center>
        <br>
        <br>
           
        <table class="table table-hover">
             
            <thead>
               
            <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Name</th>
                     <th scope="col">Post</th>
                    <th scope="col">Gender</th>
                    <th scope="col">NIC</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Password</th>
                    
            </tr>
            </thead>
         <tbody>
             {{#each emp}}
            <tr>
                    <td>{{ this.empid}}</td>
                    <td>{{ this.username }}</td>
                    <td>{{ this.position }}</td>
                    <td>{{ this.gender }}</td>
                    <td>{{ this.NIC  }}</td>
                    <td>{{ this.email  }}</td>
                    <td>{{ this.contactno }}</td>
                    <td >{{ this.password }}</td>
                   

                    <td>
                         
                    <a href="/table/updateemp/{{ this.Id }}"><button class="btn btn-primary">Edit</button></a>
                    <a href="/table/deleteemp/{{ this.Id }}"><button class="btn btn-primary">Delete</button></a>
                    </td>
            </tr>
            {{/each}}
       
        </tbody>
        </table>
    </div>
</div>
</div>







